<% content_for :title, "Editing skil" %>

<h1>Editing skil</h1>

<%= render "form", skil: @skil %>

<br>

<div>
  <%= link_to "Show this skil", @skil %> |
  <%= link_to "Back to skils", skils_path %>
</div>
