<p style="color: green"><%= notice %></p>

<% content_for :title, "Skils" %>

<h1>Skils</h1>

<div id="skils">
  <% @skils.each do |skil| %>
    <%= render skil %>
    <p>
      <%= link_to "Show this skil", skil %>
    </p>
  <% end %>
</div>

<%= link_to "New skil", new_skil_path %>
